<ion-header>
  <ion-toolbar>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tabs con ion-tabs -->
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="lunes">
        <ion-label>Lunes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="martes">
        <ion-label>Martes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="miercoles">
        <ion-label>Miércoles</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="jueves">
        <ion-label>Jueves</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="viernes">
        <ion-label>Viernes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <!-- Contenido de cada día -->
    <ion-tab tab="lunes">
      <ion-card *ngFor="let subject of getSubjectsForDay('lunes')" 
                [color]="subject.color" 
                (click)="toggleExpand(subject.name)" 
                [ngClass]="{'expanded': expandedCard === subject.name}">
        <ion-card-header>
          <ion-card-title>{{ subject.name }}</ion-card-title>
          <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Sala: {{ subject.room }} <br>
          Profesor: {{ subject.teacher }}
        </ion-card-content>

        <!-- Contenido expandido -->
        <ng-container *ngIf="expandedCard === subject.name">
          <ion-card-content>
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ng-container>
      </ion-card>
    </ion-tab>

    <ion-tab tab="martes">
      <ion-card *ngFor="let subject of getSubjectsForDay('martes')" 
                [color]="subject.color" 
                (click)="toggleExpand(subject.name)" 
                [ngClass]="{'expanded': expandedCard === subject.name}">
        <ion-card-header>
          <ion-card-title>{{ subject.name }}</ion-card-title>
          <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Sala: {{ subject.room }} <br>
          Profesor: {{ subject.teacher }}
        </ion-card-content>

        <ng-container *ngIf="expandedCard === subject.name">
          <ion-card-content>
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ng-container>
      </ion-card>
    </ion-tab>

    <ion-tab tab="miercoles">
      <ion-card *ngFor="let subject of getSubjectsForDay('miercoles')" 
                [color]="subject.color" 
                (click)="toggleExpand(subject.name)" 
                [ngClass]="{'expanded': expandedCard === subject.name}">
        <ion-card-header>
          <ion-card-title>{{ subject.name }}</ion-card-title>
          <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Sala: {{ subject.room }} <br>
          Profesor: {{ subject.teacher }}
        </ion-card-content>

        <ng-container *ngIf="expandedCard === subject.name">
          <ion-card-content>
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ng-container>
      </ion-card>
    </ion-tab>

    <ion-tab tab="jueves">
      <ion-card *ngFor="let subject of getSubjectsForDay('jueves')" 
                [color]="subject.color" 
                (click)="toggleExpand(subject.name)" 
                [ngClass]="{'expanded': expandedCard === subject.name}">
        <ion-card-header>
          <ion-card-title>{{ subject.name }}</ion-card-title>
          <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Sala: {{ subject.room }} <br>
          Profesor: {{ subject.teacher }}
        </ion-card-content>

        <ng-container *ngIf="expandedCard === subject.name">
          <ion-card-content>
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ng-container>
      </ion-card>
    </ion-tab>

    <ion-tab tab="viernes">
      <ion-card *ngFor="let subject of getSubjectsForDay('viernes')" 
                [color]="subject.color" 
                (click)="toggleExpand(subject.name)" 
                [ngClass]="{'expanded': expandedCard === subject.name}">
        <ion-card-header>
          <ion-card-title>{{ subject.name }}</ion-card-title>
          <ion-card-subtitle>{{ subject.startTime | date:'HH:mm' }} - {{ subject.endTime | date:'HH:mm' }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Sala: {{ subject.room }} <br>
          Profesor: {{ subject.teacher }}
        </ion-card-content>

        <ng-container *ngIf="expandedCard === subject.name">
          <ion-card-content>
            <ion-button color="secondary" (click)="openEditModal(subject)">Modificar</ion-button>
            <ion-button class="delete-button" color="danger" (click)="confirmDeleteSubject(subject)">Eliminar</ion-button>
          </ion-card-content>
        </ng-container>
      </ion-card>
    </ion-tab>
  </ion-tabs>
</ion-content>
